
.mySwiper .swiper-pagination {
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: black; 
}

.mySwiper .swiper-pagination-bullet {
    background: rgba(3, 10, 102, 0.377); 
}

.mySwiper .swiper-pagination-bullet-active {
    background: #ff6347; 
}
